spring:
  application:
    name: '@project.name@'
  profiles:
    active: local
  devtools:
    livereload:
      enabled: false
    restart:
      enabled: false
    add-properties: false
  jackson:
    time-zone: "Asia/Seoul"
  main:
    allow-bean-definition-overriding: true
    banner-mode: console
  web:
    resources:
      add-mappings: false

logging:
  level:
    root: debug

jwt:
  secret-key: tdfhrsfcretKey20223467tdsfaadsfsfgsfdhdfhSecrsdfgfdshsKey20230327testSedfgsetKey20234627
  access-token-expiration: 3600000        # 1시간 (3600초)
  refresh-token-expiration: 1209600000     # 14일 (밀리초)

server:
  # 서버 port 설정
  port: 8080
  # url prefix
  # servlet.context-path: /apis

---
# local 환경 설정
spring:
  config:
    activate:
      on-profile: local
# MySQL
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/TRACKER
    username: root
    password: 1234
    hikari:
      maximum-pool-size: 10
  jpa:
    hibernate:
      ddl-auto: create
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        highlight_sql: true
        database-platform: org.hibernate.dialect.MySQLDialect
    defer-datasource-initialization: true

logging:
  level:
    root: debug

debug: true

---
# development 환경 설정
spring:
  config:
    activate:
      on-profile: dev

  # MySQL
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/TRACKER
    username: root
    password: 1234
    hikari:
      maximum-pool-size: 10
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        highlight_sql: true
        database-platform: org.hibernate.dialect.MySQLDialect
    defer-datasource-initialization: true

logging:
  level:
    root: debug

debug: true

---
# product 환경 설정
spring:
  config:
    activate:
      on-profile: prd
