spring:
  application:
    name: '@project.name@'
  profiles:
    active: local
  devtools:
    livereload:
      enabled: false
    restart:
      enabled: false
    add-properties: false
  jackson:
    time-zone: "Asia/Seoul"
  main:
    allow-bean-definition-overriding: true
    banner-mode: console
  web:
    resources:
      add-mappings: false

logging:
  level:
    root: debug

server:
  # 서버 port 설정
  port: 8080
  # url prefix
  # servlet.context-path: /apis

ssp:
  app:
    name: '@project.name@'
    version: '@project.version@'
    desc: '@project.description@'
  swagger:
    enabled: true

---
# local 환경 설정
spring:
  config:
    activate:
      on-profile: local
# MySQL
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/TRACKER
    username: root
    password: 1234
    hikari:
      maximum-pool-size: 10
  jpa:
    show-sql: true
    properties:
      hibernate:
        ddl-auto: update
        format_sql: true
        show_sql: true
        highlight_sql: true
        database-platform: org.hibernate.dialect.MySQLDialect
    defer-datasource-initialization: true


logging:
  level:
    root: debug

debug: true

---
# development 환경 설정
spring:
  config:
    activate:
      on-profile: dev

  # MySQL
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/TRACKER
    username: root
    password: 1234
    hikari:
      maximum-pool-size: 10
  jpa:
    show-sql: true
    properties:
      hibernate:
        ddl-auto: update
        format_sql: true
        show_sql: true
        highlight_sql: true
        database-platform: org.hibernate.dialect.MySQLDialect
    defer-datasource-initialization: true

logging:
  level:
    root: debug

debug: true

---
# product 환경 설정
spring:
  config:
    activate:
      on-profile: prd
